body{
	background-color: #FFFFCC
}

header {
	width: 100%;
	height: 70px;
	background-color: #000000;
}

h1{
	margin: 2;
	font-size: 23px;
}

h2,h3,h4,h5,h6{

	margin: 0;
	font-size: 35px;

}


p{
	margin-top: 0;
	text-align: justify;
}


#wrap { 
	background: #CCFFFF;
	width: 1000px;
	height: 150px;
}

#menu{
	width: 1000px;
	height: 50px;
	background: #0066CC;	
}


#content {
	width: 1000px;
}

#kiri{
	width: 680px;
	float: left;
	padding: 10px;
}

#kiri img{
	float: left;
	margin: 5px;
}

#kanan{
	width: 300px;
	height: 400px;
	background: yellow;
	float: left;
}

#footer{
	width: 1000px;
	height: 50px;
	background: #fff;
}

#header{
	background-image: url("about.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
	width: auto;
	float: right;
	margin-top: 0px;
}


li{
	display: inline-block;
	padding: 15px 30px;
}

a{
	text-decoration: none;
}


#Achivement{
	background-color: #ffff;
	font-family: 'open Sans', sans-serif;
	font-size: 8vw;
}

.btn{
	display: block;
	background: #9b59b6;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
}

.btn:hover{
	background-color: #27ae60;
}

@media screen and (max-width: 880pc){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}	